rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /projects/{projectId} {
      // Permitir crear solo si el usuario está autenticado y el dato enviado en owner coincide con su UID
      allow create: if request.auth != null &&
                    request.auth.uid == request.resource.data.owner;
      
      // Permitir leer, actualizar y eliminar solo sus propios proyectos
      allow read, update, delete: if request.auth != null &&
                                   request.auth.uid == resource.data.owner;
    }
  }
}
